@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titan+One&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body { /*Color Theme: Phthalo Green Gradient Color Palette*/
  background: #d5e8db;
}
.container {
  width: 450px;
  background: #a4c1ad;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 10px;
}
.container h1 {
  text-align: center;
  font-family: 'Titan One';
  color: 	#12341d;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding: 2.4rem 0;
}

.inputField {
  width: 100%;
  padding: 5px 1rem;
  background: #6d9078;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField input {
  background: transparent;
  padding: 10px;
  color:WHITE;
  font-size: 1rem;
}
.inputField input::placeholder {
  color: #12341d;
}

.inputField button {
  background: #33553e;
  color: #fff;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  transform: rotate(90deg);
}

/* to do list style */
.toDoList {
  margin-top: 2rem;
}
.toDoList span {
  color: #12341d;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.toDoList .list-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.list-items .items {
  background: #6d9078;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
input[type='checkbox'] {
  padding: 5px;
  cursor: pointer;
}
.items-text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.items-text div {
  color: #33553e;
  overflow: hidden;
}
.notify {
  text-align: center;
  color: #12341d;
}

.delete-icon {
  width: 40px;
  height: 40px;
  font-size: 27px !important;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: block;
}
.delete-icon:hover {
  background: #33553e;
  transition: 0.2s;
}

.isChecked {
  text-decoration: line-through;
  opacity: 0.5;
}

.stats {
  position: fixed; 
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #a4c1ad;
}